.jogo {
    min-height: 100vh;
    min-width: 1060px;
    max-width: 1500px;
    margin: auto;
    
}

.jogo .pilhas-ordenadas {
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 250px;
}

.jogo .pilhas-ordenadas .compra-descarte,
.jogo .pilhas-ordenadas .cartas-ordenadas {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;   
}

.jogo .pilhas-embaralhadas {
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-between;    
}

.jogo .pilha-cartas {
    width: 125px;
    max-height: 170px;
    height: 100%;
    margin: 0 10px;
    border-radius: 10px;
    border: 3px solid black;
    background-size: contain;
    position: relative;
}

.jogo .pilha-cartas .pilha-cartas-sequencia {
    position: absolute;
    top: 30px;
    opacity: 1;
    background-size: contain;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.jogo .pilha-cartas .pilha-cartas-sequencia.pirmeira-carta{
    top:0;
}

.jogo .selecionado{
    
    box-shadow: 0px 0px 4px 5px goldenrod;
}

.jogo .botao-reniciar-jogo{
    color: white;
    font-size: 1.5rem;
    background-color: var(--cor-secundaria);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.jogo .botao-reniciar-jogo:hover{
    font-size: 1.8rem;
    background-color: var(--cor-primaria);
}
